<div class="custom-text-field custom-text-field_{{ view }} {{ className }}">
    <label>
        <input type="{{ type }}" value="{{ value }}" placeholder="{{ placeholder }}"  required {{!-- if required }} required {{/if --}} name="{{name}}">
        <span class="custom-text-field__error-message">{{# if errorMessage }} {{errorMessage}} {{/if}}</span>
    </label>
</div>
