<div class="avatar {{ className }}">
    {{#if avatar}}
        <img class="avatar-image" style="width: {{ width }}; height: {{ height }}" src="{{ avatar }}" alt="{{ name }}" />
    {{else}}
        <div class="avatar-stub" style="width: {{ width }}; height: {{ height }}">
            <span class="avatar-stub__initials">{{ getFirstLetter name }}</span>
        </div>
    {{/if}}
</div>